form {
  display: block;
  margin-top: 0em;
  padding: 0 20px;
}

.newsletter-con {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

.signup-con {
  margin-bottom: 20px;
  text-align: center;
}

.signup-con p {
  color: #000;
  display: block;
  font-size: 15px;
  letter-spacing: .25em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.signup-con .inputs-con {
  display: inline-block;
  max-width: 100%;
  width: 27.5rem;
}

.signup-con .inputs-con .input-con {
  position: relative;
  border-bottom: 1px solid #000;
  margin-top: 15px;
  padding-bottom: 5px;
}

.signup-con .inputs-con .input-con:after {
  background-color: #ec1c24;
  content: "";
  display: block;
  height: .0625rem;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width .3s;
  transition: width .3s;
  width: 0;
}

.input-con input {
  position: relative;
  color: #000;
  font-size: 12px;
  letter-spacing: .25em;
  text-transform: uppercase;
  width: 100%;
}

.sr {
  border: 0;
  height: 1px;
  left: -99999px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

select {
  width: 100%;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
  color: transparent;
  cursor: pointer;
}

select option {
  color: black;
}

i {
  position: absolute;
  top: 3px;
  right: 8px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.input-con label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.alert-invalid {
  color: red;
  font-size: 12px;
  text-align: start;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inputs-con .button {
  margin: 10px 0 0 0;
}

.agree {
  font-size: 11px;
  font-weight: 500;
  margin: 15px 0 10px 0;
}

.link {
  cursor: pointer;
  border-bottom: #000 solid 0.1px;
}

.checkbox-con label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
  padding: 20px 10px 0 22px;
}

.checkbox-con input {
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: checkbox;
}

.checkbox-con label span {
  vertical-align: middle;
  padding: 0 0 0 10px;
  font-size: 14px;
}
