<div class="social-links-container">
  <a href="https://www.facebook.com/espaciodiosza/" target="_blank" class="facebook" [style]="facebook" title="Espacio Dios On Facebook" rel="noreferrer"
    >
  </a>
  <a href="https://twitter.com/espacio_dios" target="_blank" class="twitter" [style]="twitter" title="Espacio Dios On Twitter" rel="noreferrer"
    >
  </a>
  <a href="https://www.instagram.com/espacio_dios/" target="_blank" class="instagram" [style]="instagram" title="Espacio Dios On Instagram" rel="noreferrer"
    >
  </a>
  <a href="https://music.apple.com/us/artist/espacio-dios/1119392139" target="_blank" class="apple" [style]="apple" title="Espacio Dios On Apple Music" rel="noreferrer"
    >
  </a>
  <a href="https://open.spotify.com/artist/030q9tYMZs82CHR8DV9Fid" class="spotify" [style]="spotify" target="_blank"  title="Espacio Dios On Spotify" rel="noreferrer"
    >
  </a>
  <a href="https://www.youtube.com/channel/UC2nFX6Nhqho79Ex37lep78A" target="_blank" class="youtube" [style]="youtube" title="Espacio Dios On Youtube" rel="noreferrer"
    >
  </a>
</div>
