.events-con {
  position: relative;
  width: 100%;
  min-height: 75%;
  margin: 0 0 40px 0;
  padding: 80px 0 0 0;
}

.noEvents {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 40vh;
}

.event {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 20px 80px;
}

.g {
  background-color: rgba(221, 221, 221, 0.287);
}

.date {
  position: relative;
  float: left;
  width: 15%;
  text-align: end;
  padding: 0 20px 0 0;
}

.location {
  position: relative;
  float: left;
  width: 70%;
  max-width: 2000px;
  padding: 0 20px 0 20px;
}

.location-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.btns {
  position: relative;
  float: left;
  width: 15%;
  padding: 25px 0;
}

.heading {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin: 20px 0 40px 0;
}

.mon {
  color: black;
  font-size: 28px;
}

.day {
  color: black;
  font-size: 28px;
}

.year {
  color: grey;
  font-size: 28px;
  font-weight: 400;
}

.year-d {
  display: none;
  color: grey;
  font-size: 24px;
  font-weight: 400;
}

.venue {
  color: black;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.country {
  color: grey;
  font-size: 28px;
  font-weight: 400;
}

/* .button {
  display: block;
  background-color: white;
  width: 107px;
  border: 1px solid black;
  margin: 5px 7px;
  padding: 7px 15px;
  border-radius: 2.5px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
} */

.button:hover {
  background-color: rgba(221, 221, 221, 0.15);
  color: #000000;
}

.wantMore {
  color: #000;
  display: block;
  font-size: .91625rem;
  letter-spacing: .25em;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 711px ) {
  .button {
    display: block;
    background-color: white;
    width: 125px;
    border: 1px solid black;
    margin: 5px 7px;
    padding: 7px 15px;
    border-radius: 2.5px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 1019px) {
  .event {
    padding: 20px 40px;
  }

  .date {
    text-align: end;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 900px) {
  .mon {
    color: black;
    font-size: 24px;
  }

  .day {
    color: black;
    font-size: 24px;
  }

  .year {
    color: grey;
    font-size: 24px;
    font-weight: 400;
  }

  .venue {
    color: black;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .country {
    color: grey;
    font-size: 24px;
    font-weight: 400;
  }

  .btns {
    padding: 18px 0;
  }

}

@media screen and (max-width: 710px) {

  .button {
    background-color: white;
    border: 1px solid black;
    margin: 5px 7px;
    padding: 7px 15px;
    border-radius: 2.5px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .event {
    padding: 10px 20px;
  }

  .date {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 0 10px 0;
  }

  .year {
    display: none;
    color: grey;
    font-size: 24px;
    font-weight: 400;
  }

  .year-d {
    display: contents;
    color: grey;
    font-size: 24px;
    font-weight: 400;
  }

  .location {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 20px 0 20px;
  }

  .location-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  .btns {
    position: relative;
    float: left;
    width: 100%;
    padding: 25px 0;
    text-align: center;
  }

}

@media screen and (max-width: 480px) {

  .heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 40px 0;
  }

  .event {
    padding: 10px 0px;
  }

  .mon {
    color: black;
    font-size: 20px;
  }

  .day {
    color: black;
    font-size: 20px;
  }

  .year {
    color: grey;
    font-size: 20px;
    font-weight: 400;
  }

  .venue {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .country {
    color: grey;
    font-size: 20px;
    font-weight: 400;
  }

}

